[submodule "examples/zod"]
	path = examples/zod
	url = git@github.com:ciscoheat/superforms-examples-base.git
	branch = zod
[submodule "examples/valibot"]
	path = examples/valibot
	url = git@github.com:ciscoheat/superforms-examples-base.git
	branch = valibot
[submodule "examples/main"]
	path = examples/main
	url = git@github.com:ciscoheat/superforms-examples-base.git
	branch = main
